/* Custom font styles for Quill editor */
.ql-align-right {
    text-align: right;
}

.ql-align-center {
    text-align: center;
}

.ql-align-left {
    text-align: left;
}

.ql-font-serif {
    font-family: Georgia, Times New Roman, serif !important;
}

.ql-font-monospace {
    font-family: Monaco, Courier New, monospace !important;
}

.ql-syntax{
    background-color: #23241f;
    color: #f8f8f2;
}