@{
    ViewData["Title"] = "Email Verification Page";
}

<h1>Email verification mail sent to your email adress please verify it</h1>
<p> When you click the verify link if verification goes succesffuly you will be sent to login page</p>
<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
